<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
             All Talent Photos Data
            </h1>
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <div id="objKeys"></div>
                    <div id="objImgs"></div>
                </div>
            </div>
        </div>


    </section>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>
<script>

    //setup AWS environment
    AWS.config.update({
        accessKeyId: 'francis',
        secretAccessKey: 'secret+sister'
    });
    AWS.config.region = 'pick-your-region';

    let s3BucketName = 'miniboardandcsc';

    function listObjs() {
        let s3 = new AWS.S3({
            params: { Bucket: s3BucketName }
        });
        s3.listObjects(function (error, data) {
            if (error === null) {
                let html_keys = 'Object Keys:<br />';
                let html_imgs = '';
                jQuery.each(data.Contents, function (index, obj) {
                    html_keys += (index + ': ' + obj.Key + '<br />');
                    html_imgs += "<img src='" + "https://s3-" + AWS.config.region + ".amazonaws.com/"
                        + s3BucketName + "/" + obj.Key + "'/><br/>";
                });
                $("#objKeys").html(html_keys);
                $("#objImgs").html(html_imgs);
            } else { console.log(error); }
        });
    }
</script>